body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;	 
}

#header-nav .container {	 
	margin-left: 0px;
	margin-right: 0px; 
	width: 100%;
}

#logo-img {
	background: url('../images/logo.png') no-repeat;
	background-size: 150px 100px;
	height: 100px;
	width: 150px;
	margin: 10px 15px 10px 0; 
}

.navbar-brand {
	padding-top: 30px;

}

.navbar-brand h1 {
	font-family: Lora, sans-serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
	font-weight: bold;
}

 #nav-list {
 		margin-top: 20px; 		 
 }

 #nav-list a {
 		color: #951c49;
 		text-align: center;		 
 }

 #nav-list a:hover {
 		background: #E7E7E7; 		  
 }

 #nav-list a span {
 		font-size: 1.8em;	  
 }

 #phone {
 	margin-top: 5px;
 }

 #phone a {
 	text-align: right;
 	padding-bottom: 0;
 	padding-right: 0;
 }

 #phone div {
 	color: #557c3e;
 	text-align: right;
 }

 @media (max-width: 767px) {
 	.navbar-header {
 		padding-top: 0px;
 		margin-top: 0px;
 		clear: both;
 	}

 	.navbar-brand h1 {
 		margin-top: 0px;
 		padding-top: 0px;
 		font-size: 5vw; 		 
 	}
 	.navbar-brand p {
 		padding-top: 0px;
 		margin-top: 5px; 
 		margin-bottom: 10px;	

 	}
 	.navbar-brand img {
 		margin-bottom: 10px;
 		height: 40px; 		 
 	}
 	button.navbar-toggle {
 		clear: both;

 	}
 }

  @media (min-width: 768px) and (max-width: 991px){
  	 .navbar-brand h1 {
 		margin-top: 0px;
 		padding-top: 0px;
 		font-size: 1.3em;
 	}
 	.navbar-brand p {
 		padding-top: 0px;
 		margin-top: 5px; 
 		margin-bottom: 10px;		 
 	}
  }


  @media (min-width: 992px) and (max-width: 1199px){
  	 .navbar-brand h1 {
 		margin-top: 0px;
 		padding-top: 0px;
 		font-size: 1.3em;
 	}
 	.navbar-brand p {
 		padding-top: 0px;
 		margin-top: 5px; 
 		margin-bottom: 10px;		 
 	}
 
  }


 